In [1]:
import sqlite3
import pandas as pd

In [2]:
datos = pd.read_csv("/content/drive/MyDrive/ISPC/PRR3/Libros_mas_vendidos_Bookdepository.csv")

datos.head()

,Titulo,Autor,Fecha_Publicacion,Precio_en_dolares
0,I Don't Need Therapy,Toni Lodge,2023,19.79
1,It Ends With Us: The most ...,Colleen Hoover,2016,12.52
2,Verity,Colleen Hoover,2022,7.37
3,JOURNEY. THE ART OF CARLES...,CARLES DALMAU,2022,32.23
4,The Seven Moons of Maali A...,Shehan Karunatilaka,2022,18.66

In [3]:
con = sqlite3.connect("Bestsellings_books.db")
cur = con.cursor()

In [4]:
tabla = datos.to_sql("tabla_libros", con, if_exists="replace")

In [5]:
con.commit()

In [6]:
cur = con.execute(''' SELECT Titulo FROM tabla_libros ''')

for row in cur:
  print(row)

("                    I Don't Need Therapy",)
("                    It Ends With Us: The most heartbreaking novel you'll ever read",)
('                    Verity',)
('                    JOURNEY. THE ART OF CARLES DALMAU',)
('                    The Seven Moons of Maali Almeida',)
('                    Stellarlune',)
('                    Atomic Habits',)
('                    Seven Husbands of Evelyn Hugo',)
('                    The Husky and His White Cat Shizun: Erha He Ta De Bai Mao Shizun (Novel) Vol. 1',)
('                    It Starts with Us',)
('                    Before the Coffee Gets Cold',)
('                    The Body Keeps the Score',)
('                    Ugly Love',)
('                    The Midnight Library',)
('                    Small Things Like These',)
('                    TommyInnit Says...The Quote Book',)
("                    I'm Glad My Mom Died",)
('                    The Secret History',)
('                    The Thursday Murder Club',)
("                    Heaven Official's Blessing: Tian Guan Ci Fu (Novel) Vol. 5",)
('                    Where the Crawdads Sing',)
('                    Harry Potter and the Order of the Phoenix',)
('                    Surrender',)
('                    Small Things Like These',)
('                    Twisted Love',)
('                    Friends, Lovers and the Big Terrible Thing',)
('                    Chainsaw Man, Vol. 1',)
('                    The Climate Book',)
('                    Spy x Family, Vol. 3',)
('                    Lucy by the Sea',)
('                    The Fall of Numenor',)
('                    Everything I Know About Love',)
('                    The Invisible Life of Addie LaRue - Illustrated edition',)
('                    The Jolly Christmas Postman',)
('                    No Longer Human',)
('                    The One Thing',)
('                    The Love Hypothesis',)
("                    A Good Girl's Guide to Murder",)
('                    Chainsaw Man, Vol. 2',)
('                    Reminders of Him',)
('                    Glucose Revolution',)
('                    Cinema Speculation',)
('                    The Silent Patient',)
('                    Conversations on Love',)
('                    The Psychology of Money',)
("                    Roald Dahl's Marvellous Joke Book",)
('                    Loss',)
('                    The Mindful High Performer',)
('                    If We Were Villains',)
('                    A Ukrainian Christmas',)
('                    Foster',)
('                    Twisted Games',)
('                    Chainsaw Man, Vol. 4',)
('                    Brain Games For Clever Kids (R)',)
('                    Grandmaster of Demonic Cultivation: Mo Dao Zu Shi (Novel) Vol. 4',)
('                    The Baddies',)
('                    12 Rules for Life',)
('                    Chainsaw Man, Vol. 3',)
("                    Man's Search For Meaning",)

In [ ]:
con.commit()

In [7]:
ver = con.execute(''' SELECT * FROM tabla_libros WHERE Autor = "Colleen Hoover"	''')
ver.fetchall()

[(1,
  "                    It Ends With Us: The most heartbreaking novel you'll ever read",
  'Colleen Hoover',
  2016,
  12.52),
 (2, '                    Verity', 'Colleen Hoover', 2022, 7.37),
 (9, '                    It Starts with Us', 'Colleen Hoover', 2019, 17.4),
 (12, '                    Ugly Love', 'Colleen Hoover', 2021, 9.63),
 (39, '                    Reminders of Him', 'Colleen Hoover', 2022, 12.01)]

In [38]:
def buscar_por_autor(autorr):
  ver = con.execute(''' SELECT * FROM tabla_libros WHERE Autor=? ''', (autorr,) )
  return ver.fetchall()

In [62]:
autorr = input("Ingrese un autor ")

buscar_por_autor(autorr)

Ingrese un autor Colleen Hoover

[(1,
  "                    It Ends With Us: The most heartbreaking novel you'll ever read",
  'Colleen Hoover',
  2016,
  12.52),
 (2, '                    Verity', 'Colleen Hoover', 2022, 7.37),
 (9, '                    It Starts with Us', 'Colleen Hoover', 2019, 17.4),
 (12, '                    Ugly Love', 'Colleen Hoover', 2021, 9.63),
 (39, '                    Reminders of Him', 'Colleen Hoover', 2022, 12.01)]

In [58]:
def buscar_por_titulo(titulorr):
  verr = con.execute(''' SELECT * FROM tabla_libros WHERE Titulo=? ''', (titulorr,) )
  return verr.fetchall()

In [60]:
titulorr = input("Ingrese un titulo ")

buscar_por_titulo(titulorr)

Ingrese un titulo Ugly Love

[]

In [51]:
def buscar_por_a単o(anios):
  ani = con.execute(''' SELECT * FROM tabla_libros WHERE Fecha_Publicacion=? ''', (anios,) )
  return ani.fetchall()

In [63]:
anios = input("Ingrese un a単o ")

buscar_por_a単o(anios)

Ingrese un a単o 2022

[(2, '                    Verity', 'Colleen Hoover', 2022, 7.37),
 (3,
  '                    JOURNEY. THE ART OF CARLES DALMAU',
  'CARLES DALMAU',
  2022,
  32.23),
 (4,
  '                    The Seven Moons of Maali Almeida',
  'Shehan Karunatilaka',
  2022,
  18.66),
 (7,
  '                    Seven Husbands of Evelyn Hugo',
  'Taylor Jenkins Reid',
  2022,
  9.88),
 (8,
  '                    The Husky and His White Cat Shizun: Erha He Ta De Bai Mao Shizun (Novel) Vol. 1',
  'Rou Bao Bu Chi Rou',
  2022,
  17.89),
 (13, '                    The Midnight Library', 'Matt Haig', 2022, 10.01),
 (14,
  '                    Small Things Like These',
  'Claire Keegan',
  2022,
  9.42),
 (15,
  '                    TommyInnit Says...The Quote Book',
  'Tom Simons',
  2022,
  13.72),
 (18,
  '                    The Thursday Murder Club',
  'Richard Osman',
  2022,
  10.63),
 (20,
  '                    Where the Crawdads Sing',
  'Delia Owens',
  2022,
  9.99),
 (21,
  '                    Harry Potter and the Order of the Phoenix',
  'J.K. Rowling',
  2022,
  37.38),
 (22, '                    Surrender', 'Bono', 2022, 29.21),
 (23,
  '                    Small Things Like These',
  'Claire Keegan',
  2022,
  11.77),
 (24, '                    Twisted Love', 'Ana Huang', 2022, 10.22),
 (26,
  '                    Chainsaw Man, Vol. 1',
  'Tatsuki Fujimoto',
  2022,
  9.28),
 (28, '                    Spy x Family, Vol. 3', 'TATSUYA ENDO', 2022, 8.06),
 (29, '                    Lucy by the Sea', 'Elizabeth Strout', 2022, 16.84),
 (31,
  '                    Everything I Know About Love',
  'Dolly Alderton',
  2022,
  11.56),
 (38,
  '                    Chainsaw Man, Vol. 2',
  'Tatsuki Fujimoto',
  2022,
  10.38),
 (39, '                    Reminders of Him', 'Colleen Hoover', 2022, 12.01),
 (40,
  '                    Glucose Revolution',
  'Jessie Inchauspe',
  2022,
  14.99),
 (42,
  '                    The Silent Patient',
  'Alex Michaelides',
  2022,
  8.85),
 (45,
  "                    Roald Dahl's Marvellous Joke Book",
  'Roald Dahl',
  2022,
  7.72),
 (48, '                    If We Were Villains', 'M. L. Rio', 2022, 10.99),
 (49,
  '                    A Ukrainian Christmas',
  'Yaroslav Hrytsak',
  2022,
  15.66),
 (50, '                    Foster', 'Claire Keegan', 2022, 9.13),
 (53,
  '                    Brain Games For Clever Kids (R)',
  'Gareth Moore',
  2022,
  5.24),
 (54,
  '                    Grandmaster of Demonic Cultivation: Mo Dao Zu Shi (Novel) Vol. 4',
  'Mo Xiang Tong Xiu',
  2022,
  17.89)]