In [1]:
import sqlite3
import pandas as pd

In [2]:
datos = pd.read_csv("/content/drive/MyDrive/ISPC/PRR3/Libros_mas_vendidos_Bookdepository.csv")

datos.head()

,Titulo,Autor,Fecha_Publicacion,Precio_en_dolares
0,I Don't Need Therapy,Toni Lodge,2023,19.79
1,It Ends With Us: The most ...,Colleen Hoover,2016,12.52
2,Verity,Colleen Hoover,2022,7.37
3,JOURNEY. THE ART OF CARLES...,CARLES DALMAU,2022,32.23
4,The Seven Moons of Maali A...,Shehan Karunatilaka,2022,18.66

In [3]:
con = sqlite3.connect("Bestsellings_books.db")
cur = con.cursor()

In [4]:
tabla = datos.to_sql("tabla_libros", con, if_exists="replace")

In [6]:
con.commit()

In [8]:
cur = con.execute(''' SELECT Titulo FROM tabla_libros ''')

for row in cur:
  print(row)

("                    I Don't Need Therapy",)
("                    It Ends With Us: The most heartbreaking novel you'll ever read",)
('                    Verity',)
('                    JOURNEY. THE ART OF CARLES DALMAU',)
('                    The Seven Moons of Maali Almeida',)
('                    Stellarlune',)
('                    Atomic Habits',)
('                    Seven Husbands of Evelyn Hugo',)
('                    The Husky and His White Cat Shizun: Erha He Ta De Bai Mao Shizun (Novel) Vol. 1',)
('                    It Starts with Us',)
('                    Before the Coffee Gets Cold',)
('                    The Body Keeps the Score',)
('                    Ugly Love',)
('                    The Midnight Library',)
('                    Small Things Like These',)
('                    TommyInnit Says...The Quote Book',)
("                    I'm Glad My Mom Died",)
('                    The Secret History',)
('                    The Thursday Murder Club',)
("                    Heaven Official's Blessing: Tian Guan Ci Fu (Novel) Vol. 5",)
('                    Where the Crawdads Sing',)
('                    Harry Potter and the Order of the Phoenix',)
('                    Surrender',)
('                    Small Things Like These',)
('                    Twisted Love',)
('                    Friends, Lovers and the Big Terrible Thing',)
('                    Chainsaw Man, Vol. 1',)
('                    The Climate Book',)
('                    Spy x Family, Vol. 3',)
('                    Lucy by the Sea',)
('                    The Fall of Numenor',)
('                    Everything I Know About Love',)
('                    The Invisible Life of Addie LaRue - Illustrated edition',)
('                    The Jolly Christmas Postman',)
('                    No Longer Human',)
('                    The One Thing',)
('                    The Love Hypothesis',)
("                    A Good Girl's Guide to Murder",)
('                    Chainsaw Man, Vol. 2',)
('                    Reminders of Him',)
('                    Glucose Revolution',)
('                    Cinema Speculation',)
('                    The Silent Patient',)
('                    Conversations on Love',)
('                    The Psychology of Money',)
("                    Roald Dahl's Marvellous Joke Book",)
('                    Loss',)
('                    The Mindful High Performer',)
('                    If We Were Villains',)
('                    A Ukrainian Christmas',)
('                    Foster',)
('                    Twisted Games',)
('                    Chainsaw Man, Vol. 4',)
('                    Brain Games For Clever Kids (R)',)
('                    Grandmaster of Demonic Cultivation: Mo Dao Zu Shi (Novel) Vol. 4',)
('                    The Baddies',)
('                    12 Rules for Life',)
('                    Chainsaw Man, Vol. 3',)
("                    Man's Search For Meaning",)

In [11]:
cur = con.execute(''' ALTER TABLE tabla_libros ADD Genero VARCHAR(15) ''')

TypeError: ignored

In [12]:
con.commit()

In [20]:
ver = con.execute(''' SELECT * FROM tabla_libros WHERE Autor = "Colleen Hoover"	''')
ver.fetchall()

[(1,
  "                    It Ends With Us: The most heartbreaking novel you'll ever read",
  'Colleen Hoover',
  2016,
  12.52,
  None),
 (2, '                    Verity', 'Colleen Hoover', 2022, 7.37, None),
 (9,
  '                    It Starts with Us',
  'Colleen Hoover',
  2019,
  17.4,
  None),
 (12, '                    Ugly Love', 'Colleen Hoover', 2021, 9.63, None),
 (39,
  '                    Reminders of Him',
  'Colleen Hoover',
  2022,
  12.01,
  None)]