In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
%cd /content/drive/MyDrive/ISPC/

/content/drive/MyDrive/ISPC

In [ ]:
url = "https://www.bookdepository.com/es/bestsellers"  #pagina 1
url2 = "https://www.bookdepository.com/es/bestsellers?page=2" #pagina 2
page = requests.get(url)
soup = BeautifulSoup(page.content, "html.parser")
page2 = requests.get(url2)
soup2 = BeautifulSoup(page2.content, "html.parser")

In [ ]:
#mapeamos
titulo  = soup.find_all("h3", class_="title")   #titulos 
autor  = soup.find_all("p", class_="author")    #autores 
anio  = soup.find_all("p", class_="published")   #publicacion 
precio  = soup.find_all("span", class_="sale-price")   #valor

titulo2  = soup2.find_all("h3", class_="title")   #titulos 
autor2  = soup2.find_all("p", class_="author")    #autores 
anio2  = soup2.find_all("p", class_="published")   #publicacion 
precio2  = soup2.find_all("span", class_="sale-price")   #valor

In [ ]:
titulos = []

for i in titulo:
  i = i.get_text().replace("\n", "")
  titulos.append(i.replace("'                       ", ""))

for i in titulo2:
  i = i.get_text().replace("\n", "")
  titulos.append(i.replace("'                       ", ""))

In [ ]:
autores = []

for i in autor:
  i = i.get_text().replace("\n", "")
  autores.append(i.replace("'                       ", ""))

for i in autor2:
  i = i.get_text().replace("\n", "")
  autores.append(i.replace("'                       ", ""))

In [ ]:
anios = []

for i in anio:
  i = i.get_text()
  anios.append(i)

for i in anio2:
  i = i.get_text()
  anios.append(i)

publicacion = []
c = 0
for i in anios:
  i = anios[c]
  publicacion.append(i[-4:])
  c +=1

In [ ]:
valor = []

for i in precio:
  valor.append(i.get_text())

for i in precio2:
  valor.append(i.get_text())

precios = []
c = 0
for i in valor:
  i = valor[c]
  precios.append(i[3:])
  c +=1

In [ ]:
tabla = pd.DataFrame(zip(titulos, autores, publicacion, precios), columns= ["Titulo", "Autor", "Fecha_Publicacion", "Precio_en_dolares"])

tabla.head()

,Titulo,Autor,Fecha_Publicacion,Precio_en_dolares
0,I Don't Need Therapy,Toni Lodge,2023,19.79
1,It Ends With Us: The most ...,Colleen Hoover,2016,9.79
2,Verity,Colleen Hoover,2022,7.37
3,JOURNEY. THE ART OF CARLES...,CARLES DALMAU,2022,32.23
4,The Seven Moons of Maali A...,Shehan Karunatilaka,2022,18.66

In [ ]:
bestselling_books = tabla.to_csv("Libros_mas_vendidos_Bookdepository.csv", index=False)